.card-section {
    background: #8bbee8ff;
    display: flex;
    padding: 0 5px;
    height: 100vh;
    flex-wrap: wrap;
  }
  .position-btn{
    position: relative;
    top:2%;
  }

  @media only screen and (max-width: 600px) {
    .card-section {
      flex-direction: column;
      padding: 0px;
    }
    .mobile-css{
      text-align: center;
    }
  }