
<div class="list" (dragover)="allowDrop($event)" (drop)="drop($event)">

	<div class="list__title card-header" >
	<strong *ngIf="!displayCardTitle">
        {{list.name}}
	</strong>
	<input #addCardtitle type="text" [value] = "list.name" (keyup.enter)="onUpdateTitle(addCardtitle.value); addCardtitle.value=''; displayCardTitle=false;" *ngIf="displayCardTitle" autofocus>

    <span class="float-right" *ngIf="!displayCardTitle">
        <i class="fa fa-trash" aria-hidden="true" (keyup.enter)="deleteList(list.id)" (click)="deleteList(list.id)"></i>
        <i class="fa fa-pencil pl-3" aria-hidden="true" (keyup.enter)="displayCardTitle=true" (click)="displayCardTitle=true"></i>
    </span>
</div>
	<div class="cards">
		<app-card *ngFor="let cardId of list.cards" [card]="cardStore.getCard(cardId)" (deleteCardItem)='deleteCard($event)'></app-card>
	</div>
	
	<input #addCardInput type="text" (keyup.enter)="onEnter(addCardInput.value); addCardInput.value=''; displayAddCard=false;" *ngIf="displayAddCard" autofocus>
	<a href="#" class="list__newcard text-center" (click)="toggleDisplayAddCard();">+ Add a card</a>
</div>
